@media screen and (max-width: 643px) {
    .title {
        display: none;
    }
}

.nav-buttons {
    margin-top: 8px;
}

.second-link {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #DE2F35;
}
